body {
    padding: 15px;
    margin: 0px;
    color: #FFFFFF;
    background-color: #666666;
    font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    font-size: 12px;
}


td, tr {
    font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    font-size: 10px;

    height: 14px;

    padding: 0px;

    margin: 0px;
}

td.clsTableParentBody {
    background-color: #D2D2DC;
}

div.clsHeaderType {
    display: block;
    clear: left;
    width: 60px;
    font-size: 8px;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

td.clsHeaderType {
    height: 80px;
    text-align: left;
}

tr.clsHeader td {

    color: #e6e6e6;
    background-color: #999999;
    text-align: center;
    font-weight: bold;
}
tr.clsHeaderE td {
    width: 20px;
    color: #e6e6e6;
    background-color: #999999;
    text-align: center;
    font-weight: bold;
}
td.clsHeaderTableSpaser {
    background-color: #666666;
    color: #666666;
}
td.clsHeaderTableName {
    background-color: #666666;
    color: #F9F9F9;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 15px;
    text-align: left;

}
td.clsBodyMenuItem  {
    width: 120px;
    text-align: center;
    background-color: #555555;
    color: #e6e6e6;
    padding-left: 3px;
    padding-right: 3px;


}

tr.clsBodyRow {
    color: #000000;
    background-color: #FFFFFF;
}
td.clsBodyRowId {
    width: 30px;
    text-align: center;
    background-color: #666666;
    color: #e6e6e6;
    padding-left: 3px;
    padding-right: 3px;
}

td.clsBodyRowWaitMessadge {
    text-align: left;
    background-color: #a1a1a1;
    color: #757575;
    padding-left: 3px;
    padding-right: 3px;

}

td.clsBodyRowErrorMessadge {
    text-align: left;
    background-color: #a1a1a1;
    color: #750b11;
    padding-left: 3px;
    padding-right: 3px;

}