

td.clsBodyRowPoolName {
    width: 80px;
    text-align: left;
    background-color: #c4c4c4;
    color: #545454;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 2px;
}
td.clsBodyRowPoolName a {
    color: #181818;
    text-decoration: none;
}
td.clsBodyRowPoolClean {
    background-color: #595959;
    color: #dddddd;
}
td.clsBodyRowPoolCurrency {
    width: 40px;
    text-align: center;
    background-color: #595959;
    color: #dddddd;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 2px;
}
td.clsBodyRowPoolFee {
    width: 30px;
    text-align: right;
    background-color: #808080;
    color: #ececec;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 2px;
}
td.clsBodyRowNetworkReward {
    width: 70px;
    text-align: left;
    background-color: #808080;
    color: #ececec;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 2px;
}
td.clsBodyRowNetworkDifficulty {
    width: 70px;
    text-align: right;
    background-color: #808080;
    color: #ececec;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 2px;
}
td.clsBodyRowNetworkHashRate {
    width: 70px;
    text-align: right;
    background-color: #5a5a5a;
    color: #ececec;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 2px;
}
td.clsBodyRowPoolHashrate {
    width: 70px;
    text-align: right;
    background-color: #5a5a5a;
    color: #ececec;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 2px;
}
td.clsBodyRowPoolMiners {
    width: 40px;
    text-align: center;
    background-color: #5a5a5a;
    color: #ececec;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 2px;
}
td.clsBodyRowPoolCurrblockEffort {
    width: 40px;
    text-align: right;
    background-color: #3b3b3b;
    color: #dedede;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 2px;
}
td.clsBodyRowAWait {
    width: 40px;
    text-align: center;
    background-color: #303030;
    color: #dedede;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 2px;
}




td.clsBodyRowWalletHashrate {
    width: 70px;
    text-align: right;
    background-color: #5a5a5a;
    color: #ececec;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 2px;
}

td.clsBodyRowWalletBalance {
    width: 70px;
    text-align: right;
    background-color: #454545;
    color: #728cec;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 2px;
}

td.clsBodyRowWalletPaid {
    width: 70px;
    text-align: right;
    background-color: #454545;
    color: #52ec4a;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 2px;
}

td.clsBodyRowWalletLastPaid {
    width: 140px;
    text-align: right;
    background-color: #5a5a5a;
    color: #ececec;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 2px;
}
td.clsBodyRowWalletLastShare {
    width: 140px;
    text-align: right;
    background-color: #5a5a5a;
    color: #ececec;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 2px;
}

td.clsBodyRowWalletHashRate {
    width: 140px;
    text-align: right;
    background-color: #5a5a5a;
    color: #ececec;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 2px;
}

td.clsBodyRowWallet {
    width: 120px;
    text-align: right;
    background-color: #3c3c3c;
    color: #ececec;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 2px;
}