





td.clsBodyRowWalletHashrate {
    width: 70px;
    text-align: right;
    background-color: #5a5a5a;
    color: #ececec;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 2px;
}

td.clsBodyRowWalletBalance {
    width: 70px;
    text-align: right;
    background-color: #454545;
    color: #728cec;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 2px;
}

td.clsBodyRowWalletPaid {
    width: 70px;
    text-align: right;
    background-color: #454545;
    color: #52ec4a;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 2px;
}

td.clsBodyRowWalletLastPaid {
    width: 130px;
    text-align: right;
    background-color: #5a5a5a;
    color: #ececec;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 2px;
}
td.clsBodyRowWalletLastShare {
    width: 130px;
    text-align: right;
    background-color: #5a5a5a;
    color: #ececec;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 2px;
}

td.clsBodyRowWalletHashRate {
    width: 140px;
    text-align: right;
    background-color: #5a5a5a;
    color: #ececec;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 2px;
}

td.clsBodyRowWallet {
    width: 160px;
    text-align: right;
    background-color: #3c3c3c;
    color: #ececec;
    padding-left: 3px;
    padding-right: 8px;
    padding-top: 2px;
}